.edris{
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
	background-color: black; 
	color:white;
	position: relative;
	left:50%;
	transform: translateX(-50%)	

}

p{
	font-size: 30px;
}

ul{
	font-size: 40px;
}

#duvme{
	float:right;

}

.red{
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
	padding-right: 50px;
	background-color: darkred;
	color:black;
	width:850px;
	animation-name: Red;
	animation-duration: 5s ;
	animation-iteration-count: infinite;
	float:right;
	/*position:relative;*/
	/*left:50%;*/
	/*transform: translateX(-50%);*/
}

.grey{
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
	padding-right: 30px;
	background-color: grey;
	color:black;
	width:850px;
	position: relative;
	left:60%;
	transform:translateX(-90%);
	animation-name: Grey;
	animation-duration: 5s ;
	animation-iteration-count: infinite; 
}

#blackGrey{
	padding-top: 20pmation-duration: 5s ;
	animation-iteration-count: infinite; 
}

#blackGrey{
	padding-top: 20pmation-duration: 5s ;
	animation-iteration-count: infinite; 
}

#blackGrey{
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
	padding-right: 20px;
	background-color: black;
	color:grey;

}

#black{
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
	padding-right: 20px;
	background-color: black;
	color:grey;
	animation-name:black;
	animation-duration: 5s;
	animation-iteration-count: infinite; 
}

}

#heading{
	position: relative;
	left:700px;
	font-size: 80px;
	background-color: white;
}

.title:hover{
	color: darkred;

}

#nav {
  position: fixed;
  top: 0;
  width: 200px;
  right: 300px;
}


@keyframes Grey{
	from{background-color:grey;}
	to{background-color: darkred;}
}

@keyframes Red{
	from{background-color:darkred;}
	to{background-color: grey;}
}

@keyframes black{
	from{background-color:black;}
	to{background-color: darkgrey;}
}


